.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 50s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

button {
  margin-top: 20px;
}

label {
  margin: 20px 0 0 0;
}

.card {
  width: 95%;
  max-width: 400px;
  margin: 5px auto 0;
  padding: 6px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
